# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/
.idea/

# Outputs
outputs/*.csv
outputs/*.parquet
outputs/*.xlsx

# Environment
.env
